<!-- /templates/cart.liquid -->
<div class="CartPage l-padding-top-5x m-padding-top-5x s-padding-top-3x padding-bottom-5x">
{% if cart.item_count > 0 %}

  <div class="container xl center">
    <div class="row collapse">
      <div class="column l12 m12 s12">
        <h1 class="CartPage__heading">{{ 'cart.title' | t }}</h1>
      </div>
    </div>
  </div>

  <form id="CartPage" action="/cart" method="post" novalidate>
    <div class="container xl s-hide">
      <div class="row CartPage__column-headings">
        <div class="CartPage__column-heading column l6 m5">{{ 'cart.product' | t }}</div>
        <div class="CartPage__column-heading column l2 m2">{{ 'cart.price' | t }}</div>
        <div class="CartPage__column-heading column l2 m3">{{ 'cart.quantity' | t }}</div>
        <div class="CartPage__column-heading column l2 m2">{{ 'cart.total' | t }}</div>
      </div>
    </div>
    <div class="CartPage__items container xl" data-cart-view rv-cloak>
      <div class="row CartPage__item" rv-each-item="cart.items">
        <div class="CartPage__item__image-column column l6 m5 s12">
          <div class="CartPage__item__image-container">
            <a rv-href="item.url">
              <img class="CartPage__item__image" rv-src="item.image | product_image_size 'medium' ">
            </a>
          </div>
          <div class="CartPage__item__product-title-container">
            <a class="CartPage__item__product-title" rv-href="item.url">
              { item.product_title }
            </a>
            <div class="CartPage__item__variants">
              { item.variant_title }
            </div>
            <ul class="CartPage__item__properties">
              <li rv-each-property="item.properties | propertyList">
                {property}
              </li>
            </ul>
          </div>
        </div>
        <div class="column l2 m2 s-hide">
          <span class="CartPage__item__price">
            { item.price | money_with_currency }
          </span>
        </div>
        <div class="quantity-column column l2 m3 s6">
          <div class="CartPage__item__quantity-container">
            <div class="quantity-controls">
            <span class="adjust-parent">
              <a class="adjust" id="minusOne" rv-data-cart-update="index | plus 1" rv-data-cart-quantity="item.quantity | minus 1">&#8722;</a>
            </span>
            <span class="adjust-parent" id="manualQuantity">{item.quantity}</span>
            <span class="adjust-parent">
              <a class="adjust" id="plusOne" rv-data-cart-update="index | plus 1" rv-data-cart-quantity="item.quantity | plus 1">&#43;</a>
            </span>
            </div>
          </div>
        </div>
        <div class="column l2 m2 s6 right">
          <span class="CartPage__item__total">{ item.line_price | money_with_currency }</span>
        </div>
      </div>
    </div>

    <div class="container xl margin-top-2x">
      <div class="row">
        <div class="column l12 m12 s12 right">
          <div class="CartPage__subtotal-container">
            <p class="CartPage__subtotal">
              <span>{{ 'cart.subtotal' | t }}:</span>
              <span data-cart-view>{ cart.total_price | money_with_currency }</span>
            </p>
            <button class="CartPage__checkout" type="submit" name="checkout">{{ 'cart.checkout' | t }}</button>
          </div>
        </div>
      </div>
    </div>
  </form>

{% else %}

  <div class="container xl empty-cart">
    <h1>{{ 'cart.title' | t }}</h1>
    <p>{{ 'cart.empty' | t }}</p>
  </div>

{% endif %}
</div>