<!-- /snippets/theme-nav-main.liquid -->
<nav class="theme-nav-main DesktopNav" role="navigation">
  <ul class="inline">
    {% for link in menu.links %}
      {% assign child_list_handle = link.title | handleize %}
      {% if linklists[child_list_handle].links != blank %}
        <li class="dropdown DesktopNav__dropdown" aria-haspopup="true">
          <a href="{{ link.url }}" class="DesktopNav__link nav-link {% if link.active %} active{% endif %}">
            {{ link.title }}
          </a>
          <ul class="DesktopNav__dropdown-menu dropdown-menu">
            <li class="DesktopNav__dropdown-menu-slider">
              <div class="DesktopNav__arrow DesktopNav__arrow--prev js-DesktopNavPrev-{{forloop.index}}"><i class="fa fa-angle-left"></i></div>
              <div class="DesktopNav__swiper-container swiper-container swiper-container-{{forloop.index}}">
                <div class="swiper-wrapper">
                  {% for childlink in linklists[child_list_handle].links %}
                    <div class="DesktopNav__slide swiper-slide">
                      {% if childlink.object%}
                      <a href="{{ childlink.url }}" class="DesktopNav__dropdown-link nav-link{% if childlink.active %} active{% endif %}">
                        <img src="{{childlink.object | img_url:'300x300'}}" alt="{{childlink.object.alt}}">
                        <span class="DesktopNav__dropdown-link__label">{{ childlink.title | escape }}</span>
                      </a>
                      {% endif %}
                    </div>
                  {% endfor %}
                </div>
              </div>
              <div class="DesktopNav__arrow DesktopNav__arrow--next js-DesktopNavNext-{{forloop.index}}"><i class="fa fa-angle-right"></i></div>
            </li>
          </ul>
        </li>
      {% else %}
        <li class="DesktopNav__dropdown">
          <a href="{{ link.url }}" class="DesktopNav__link nav-link{% if link.active %} active{% endif %}">{{ link.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>

<script>
  {% for link in linklists.main-menu.links %}
    {% assign child_list_handle = link.title | handleize %}
    {% if linklists[child_list_handle].links != blank %}
    var swiper{{forloop.index}} = new Swiper('.swiper-container-{{forloop.index}}', {
      slidesPerView: 8,
      spaceBetween: 30,
      loop: false,
      centeredSlides: false,
      navigation:{
        nextEl:'.js-DesktopNavNext-{{forloop.index}}',
        prevEl:'.js-DesktopNavPrev-{{forloop.index}}'
      },
      breakpoints: {
        // when window width is <= 320px
        1250: {
          slidesPerView: 6,
        }
      }
    });
    {% endif %}
  {% endfor %}
</script>