<!-- sections/template-product.liquid -->
{% assign sold_out = true %}
{% assign on_sale = false %}
{% assign current_variant = product.selected_or_first_available_variant %}

{% if current_variant.compare_at_price > current_variant.price %}
  {% assign on_sale = true %}
{% endif %}

{% if current_variant.available %}
  {% assign sold_out = false %}
{% endif %}

<meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
<meta itemprop="image" content="{{ product.featured_image | img_url: '1024x1024' }}">

<div class="l-padding-top-5x m-padding-top-5x s-padding-top-3x padding-bottom-5x">
  <div class="container l" itemscope itemtype="http://schema.org/Product" data-section-type="product" data-section-id="{{ section.id }}" data-enable-history-state="true">
    <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
    <meta itemprop="image" content="{{ product.featured_image | img_url: '1024x1024' }}">
    <div class="row">
      <div class="column l12">
        {% include 'theme-breadcrumbs' %}
      </div>
    </div>
    <div class="row">
      <div class="column l6 m6 s12">
        <div class="Product__images-column">
        <div class="Product__heading--mobile">
          <h1 class="Product__name" itemprop="name">{{ product.title }}</h1>
          <div class="Product__prices">
            <span class="hidden">{{ 'product.regular_price' | t }}</span>
            {% if on_sale %}
                <s id="ComparePrice" class="Product__price Product__price--old">{{ product.compare_at_price | money }}</s>
            {% endif %}
            <span id="ProductPrice" class="h2 Product__price Product__price{% if on_sale %}--sale{% else %}--current{% endif %}" itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
              {{ current_variant.price | money }}
            </span>
          </div>
        </div>
        <div id="ProductPhoto" class="Product__main-image">
          <img srcset="{{ product.featured_image | img_url: '1024x1024', scale: 2 }} 2x" src="{{ product.featured_image | img_url: '1024x1024' }}"{% if image.alt %} alt="{{ image.alt | escape }}"{% endif %}>
        </div>

        {% if product.images.size > 1 %}
          <div id="ProductThumbs" class="Product__thumbs collapse js-ProductThumbs">
            <div class="js-ProductThumbsSlider Product__thumbs-slider swiper-container">
              <div class="swiper-wrapper">
              {% for image in product.images %}
                <div class="swiper-slide">
                  <img srcset="{{ product.featured_image | img_url: '512x512', scale: 2 }} 2x" src="{{ image | img_url: '512x512' }}"{% if image.alt %} alt="{{ image.alt | escape }}"{% endif %}>
                </div>
              {% endfor %}
              </div>
            </div>
            <div class="ProductThumbsSliderArrow ProductThumbsSliderArrow--next js-ProductThumbsSliderNext"><i class="fa fa-angle-down"></i></div>
            <div class="ProductThumbsSliderArrow ProductThumbsSliderArrow--prev js-ProductThumbsSliderPrev"><i class="fa fa-angle-up"></i></div>
            <div class="ProductThumbsSliderDots js-ProductThumbsSliderDots swiper-pagination"></div>
          </div>
        {% endif %}
        <div class="BackupSlides" style="display: none;">
          {% for image in product.images %}
            <div class="swiper-slide">
              <img srcset="{{ product.featured_image | img_url: '512x512', scale: 2 }} 2x" src="{{ image | img_url: '512x512' }}"{% if image.alt %} alt="{{ image.alt | escape }}"{% endif %}>
            </div>
          {% endfor %}
        </div>
        </div>
      </div>
      <div class="column l6 m6 s12">
        <div class="Product__heading--desktop">
          <h1 class="Product__name" itemprop="name">{{ product.title }}</h1>
          <div class="Product__prices">
            <span class="hidden">{{ 'product.regular_price' | t }}</span>
            {% if on_sale %}
                <s id="ComparePrice" class="Product__price Product__price--old">{{ product.compare_at_price | money }}</s>
            {% endif %}
            <span id="ProductPrice" class="h2 Product__price Product__price{% if on_sale %}--sale{% else %}--current{% endif %}" itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
              {{ current_variant.price | money }}
            </span>
          </div>
        </div>
        <div class="Product__description js-ProductDescription"></div>
        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
          <meta itemprop="priceCurrency" content="{{ shop.currency }}">
          <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

          <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm" data-cart-submit class="Product__form">
            {% unless product.options.size == 1 and product.variants[0].title == 'Default Title' %}
              {% for option in product.options_with_values %}
                <div class="Product__option Product__option--{{option.name}}">
                  <label class="Product__option-label" {% if option.name == 'default' %}class="hidden" {% endif %}for="SingleOptionSelector-{{ forloop.index }}">
                    {{ option.name }}
                  </label>
                  {% if option.name == 'Color' %}
                  <div class="Product__swatches">
                    {% for value in option.values %}
                    <button class="js-ProductSwatch Product__swatch" type="button" data-color="{{value}}">
                      <span class="Product__swatch-color {{value | handleize }}"></span>
                    </button>
                    {% endfor %}
                  </div>
                  {% endif %%}
                  <div class="Product__option-select-wrapper select-wrapper Product__option-select-wrapper--{{option.name | downcase }}">
                    <select class="single-option-selector Product__option-select Product__option-select-{{option.name | downcase }}" id="SingleOptionSelector-{{ forloop.index }}" data-index="option{{ forloop.index }}">
                      {% for value in option.values %}
                        {% if forloop.first %}
                        <option value="{{ value | escape }}"{% if option.selected_value == value %} selected="selected"{% endif %}>Select {{ option.name }}</option>
                        {% endif %}
                        <option value="{{ value | escape }}">{{ value }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  {% if option.name == 'Size' %}
                  {% include 'size-guide' %}
                  {% endif %}
                </div>
              {% endfor %}
            {% endunless %}

            {% comment %}
              Original variant selector, the customer will not see this element
            {% endcomment %}
            <div class="hidden">
              <div class="select-wrapper">
                <select name="id" id="productSelect" data-index="option{{ forloop.index }}">
                  {% for variant in product.variants %}
                    {% if variant.available %}
                      <option
                        value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}
                      </option>
                    {% else %}
                      <option disabled="disabled">
                        {{ variant.title }} - {{ 'product.sold_out' | t }}
                      </option>
                    {% endif %}
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="Product__quantity-container">
              <label class="Product__quantity-label" for="Quantity">{{ 'product.quantity' | t }}</label>
              <div class="select-wrapper">
                <select class="js-productQuantity Product__quantity-select" name="quantity" id="Quantity">
                  {% for i in (1..10) %}
                  <option value="{{i}}">{{i}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            {% if sold_out %}
              <button class="Product__addToCart js-AddToCart" type="submit" name="add" data-cart-quantity="1" data-cart-add="{{product.selected_or_first_available_variant.id}}" disabled>
                <span id="AddToCartText">{{ 'product.sold_out' | t }}</span>
              </button>
            {% else %}
              <button class="Product__addToCart js-AddToCart" type="submit" name="add" data-cart-quantity="1" data-cart-add="{{product.selected_or_first_available_variant.id}}">
                <span id="AddToCartText">{{ 'product.add_to_cart' | t }}</span>
              </button>
            {% endif %}
            {% assign shippingPage = pages[section.settings.shipping_page] %}
            <a class="Product__shipping-link target="_blank" href="{{shippingPage.url}}">{{shippingPage.title}}</a>
          </form>
          <div class="Product__tabs js-productTabs"></div>
        </div>
        <h4 class="margin-top-5x">{{ 'social.share.title' | t }}</h4>
        {% include 'social-sharing' %}
      </div>
    </div>
  </div>
</div>


<div class="hidden rte js-rawProductDescription" itemprop="description">
  {{ product.description }}
</div>

{% schema %}
  {
    "name": "Product Page",
    "class":"product-page",
    "settings": [
      {
        "type":"header",
        "content":"Tabs"
      },
      {
        "type":"paragraph",
        "content":"Set the following structure in the product description"
      },
      {
        "type":"paragraph",
        "content":"<h5>Tab 1</h5><div>Tab 1 Content</div><h5>Tab 2</h5><div>Tab 2 Content</div>"
      },
      {
        "type":"header",
        "content":"Fit Guide"
      },
      {
        "type":"paragraph",
        "content":"Tag the product with 'fit_[FIT GUIDE PAGE HANDLE]'"
      },
      {
        "type":"header",
        "content":"Video"
      },
      {
        "type":"paragraph",
        "content":"Upload the product video to the files section of Shopify, and place the url under the image alt. Video must be an MP4"
      },
      {
        "type":"header",
        "content":"Shipping Page"
      },
      {
        "type":"page",
        "id":"shipping_page",
        "label":"Shipping Page"
      }
    ]
  }
{% endschema %}