<!-- /snippets/theme-footer.liquid -->

{% assign show_subscribe = section.settings.show_subscribe %}
{% assign show_social = section.settings.show_social %}

{% assign form_heading = section.settings.form_heading %}
{% assign form_email_placeholder = section.settings.form_email_placeholder %}
{% assign form_button_text = section.settings.form_button_text %}
{% assign form_success = section.settings.form_success %}
{% assign form_show_button = section.settings.form_show_button %}

<footer class="Footer theme-footer padding-top-3x padding-bottom-3x" role="contentinfo">
  <div class="container xl">
    <div class="row l-margin-bottom-2x Footer__menu-row">
      <div class="column l7 m7 s7 m-center m-margin-bottom-3x s-margin-bottom-3x">
        <ul class="Footer__menu">
        {% for link in linklists[section.settings.menu].links %}
        <li class="Footer__menu-link"><a href="{{link.url}}">{{link.title}}</a></li>
        {% endfor %}
        </ul>
      </div>
      <div class="column l5 m5 s5 m-center m-margin-bottom-3x s-margin-bottom-3x">
        <div class="Footer__form m-center">
          {% if show_subscribe %}
            {% include 'form-subscribe' %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <div class="container xl">
    <div class="row margin-bottom-2x">
      <div class="column l12 m12 s12 center">
        <div class="Footer__social">
        {% if show_social %}
          {% include 'social-links' %}
        {% endif %}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column l12 m12 s12 center">
        <a class="Footer__copyright" href="/">
        &copy; {{ 'now' | date: "%Y" }} {{ shop.name }}®. {{section.settings.copyright}}</a>
      </div>
    </div>
  </div>

</footer>
{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "header",
        "content": "Footer"
      },
      {
        "type":"link_list",
        "id":"menu",
        "label":"Menu"
      },
      {
        "type": "checkbox",
        "id": "show_social",
        "label": "Show social media icons"
      },
      {
        "type":"textarea",
        "id":"copyright",
        "label":"Copyright"
      },
      {
        "type": "header",
        "content": "Subscribe form"
      },
      {
        "type": "checkbox",
        "id": "show_subscribe",
        "label": "Show subscribe form"
      },
      {
        "type": "checkbox",
        "id": "form_show_button",
        "label": "Show submit button"
      },
      {
        "type": "text",
        "id": "form_email_placeholder",
        "placeholder": "Email address",
        "label": "Email placeholder"
      },
      {
        "type": "text",
        "id": "form_button_text",
        "label": "Button",
        "placeholder": "Subscribe"
      },
      {
        "type": "textarea",
        "id": "form_success",
        "placeholder": "Thank you for subscribing!",
        "label": "Confirmation message"
      }
    ]
  }
{% endschema %}
